---
title: "Filter"
output: html_document
editor_options: 
  chunk_output_type: console
chunk: wrangle
---

In [1]:
# TODO: explain how to run this, and that they only need the gist (loads tools)

# wranglign ---------
import pandas as pd
from siuba import *

# plotting ----------
from plotnine import *

theme_set(theme_classic(base_family = "Noto Sans CJK JP"))

# data --------------
#fname = "/Users/machow/Dropbox/Repo/siublocks-org/intro-tidyverse/tutorial/data/music200.csv"
fname = "https://siublocks.s3.us-east-2.amazonaws.com/course-data/music200.csv"
music_top200 = pd.read_csv(fname)

# tracks
#fname = "/Users/machow/Dropbox/Repo/siublocks-org/intro-tidyverse/tutorial/data/track_features.csv"
fname = "https://siublocks.s3.us-east-2.amazonaws.com/course-data/track_features.csv"
track_features = pd.read_csv(fname)

# student support ----------
from siuba import pipe
from IPython.display import HTML, display
from siututor import Blank
___ = Blank()

# DataFrame display --------
pd.set_option("display.max_rows", 6)

from IPython import get_ipython
# special ipython function to get the html formatter
html_formatter = get_ipython().display_formatter.formatters['text/html']

# here, we avoid the default df._repr_html_ method, since it inlines css
# (style tags make vue angry)
html_formatter.for_type(
    pd.DataFrame,
    lambda df: df.to_html(max_rows = pd.get_option("display.max_rows"), show_dimensions = True)
)

import slides from '../slides/01b-slides.markdown'

<RevealSlides :slides="slides" />

### Exercise 1: 

The code below is filtering to keep only hits where `country` is United States.
Change the filter to get hits from Canada.

In [2]:
(music_top200
  >> filter(_.country == "United States")
)

,country,position,track_name,artist,streams,duration,continent
7800,United States,1,The Box,Roddy Ricch,12987027,196.653,Americas
7801,United States,2,Myron,Lil Uzi Vert,9163134,224.955,Americas
7802,United States,3,Blueberry Faygo,Lil Mosey,8043475,162.547,Americas
...,...,...,...,...,...,...,...
7997,United States,198,Lights Up,Harry Styles,1606234,172.227,Americas
7998,United States,199,Without Me,Halsey,1606153,201.661,Americas
7999,United States,200,Enemies (feat. DaBaby),Post Malone,1597824,196.760,Americas

In [3]:
(music_top200
  >> filter(_.country == "Canada")
)

,country,position,track_name,artist,streams,duration,continent
1400,Canada,1,The Box,Roddy Ricch,1662638,196.653,Americas
1401,Canada,2,Dance Monkey,Tones And I,1287622,209.755,Americas
1402,Canada,3,Blinding Lights,The Weeknd,1233608,201.573,Americas
...,...,...,...,...,...,...,...
1597,Canada,198,Envy Me,Calboy,211725,120.137,Americas
1598,Canada,199,Into the Unknown,Idina Menzel,211633,194.848,Americas
1599,Canada,200,Dancing With A Stranger (with Normani),Sam Smith,210840,171.030,Americas

<prompt-expandable header="Comparing results, which artist is in the top 3 in both (the) United States and Canada?">

<q-multiple-choice>
  <q-opt text="Roddy Ricch"><span>Nailed it!</span></q-opt>
  <q-opt text="The Weeknd"><span>That artis is only top 3 in the United States</span></q-opt>
  <q-opt text="Tones And I"><span>That artist is only top 3 in the Canada</span></q-opt>
</q-multiple-choice>

</prompt-expandable>

### Exercise 2: 

* Filter to keep tracks where position equals 5.

In [4]:
(music_top200
  >> filter(___)
)

⚠️: <b>Don't forget to replace all the blanks!</b>

In [5]:
(music_top200
  >> filter(_.position == 5)
)

,country,position,track_name,artist,streams,duration,continent
4,Argentina,5,La Difícil,Bad Bunny,1205852,163.084,Americas
204,Austria,5,Dance Monkey,Tones And I,162646,209.755,Europe
404,Australia,5,The Box,Roddy Ricch,1330929,196.653,Oceania
...,...,...,...,...,...,...,...
11804,Uruguay,5,Hola - Remix,Dalex,77471,249.520,Americas
12004,Viet Nam,5,Black Swan,BTS,109112,198.261,Asia
12204,South Africa,5,Godzilla (feat. Juice WRLD),Eminem,58462,210.800,Africa

<prompt-expandable header="Which artist is in position 5 in South Africa?">

<q-multiple-choice>
  <q-opt text="Bad Bunny"><span></span></q-opt>
  <q-opt text="Eminem"><span>That's right!</span></q-opt>
  <q-opt text="BTS"><span></span></q-opt>
  <q-opt text="Selena Gomes"><span></span></q-opt>  
</q-multiple-choice>

</prompt-expandable>

### Exercise 3:

Find the top 5 songs in Hong Kong.

In the slides we discussed the `==` operator. Here is a longer list of some options!

* `==`: is equal to
* `<`: less than
* `>`: greater than

In [6]:
(music_top200
  >> filter(___, ___)
)

⚠️: <b>Don't forget to replace all the blanks!</b>

In [7]:
(music_top200
  >> filter(_.country == "Hong Kong", _.position < 6)
)

,country,position,track_name,artist,streams,duration,continent
4600,Hong Kong,1,WANNABE,ITZY,112648,191.242,Asia
4601,Hong Kong,2,Intentions (feat. Quavo),Justin Bieber,104467,212.867,Asia
4602,Hong Kong,3,Señorita,Shawn Mendes,84196,190.960,Asia
4603,Hong Kong,4,Don't Start Now,Dua Lipa,80457,183.290,Asia
4604,Hong Kong,5,Dance Monkey,Tones And I,79376,209.755,Asia

### Exercise 4: looking at The Weeknd's streams

How many times has The Weeknd had over 1,000,000 streams?

<details>
    <summary>Hint:</summary>
    Do in steps. Run first to get all rows where the artist is The Weeknd, and then modify your code to get where he has over 1,000,000 streams.
</details>

In [8]:
(

)

()

In [9]:
(music_top200
  >> filter(_.artist == "The Weeknd", _.streams > 1000000)
)

,country,position,track_name,artist,streams,duration,continent
400,Australia,1,Blinding Lights,The Weeknd,1757343,201.573,Oceania
1248,Brazil,49,Blinding Lights,The Weeknd,1343243,201.573,Americas
1402,Canada,3,Blinding Lights,The Weeknd,1233608,201.573,Americas
...,...,...,...,...,...,...,...
7841,United States,42,After Hours,The Weeknd,3672033,361.027,Americas
7906,United States,107,Heartless,The Weeknd,2265446,200.080,Americas
8210,Mexico,11,Blinding Lights,The Weeknd,3785306,201.573,Americas