---
title: "Arrange"
output: html_document
editor_options: 
  chunk_output_type: console
chunk: wrangle
---

In [1]:
# TODO: explain how to run this, and that they only need the gist (loads tools)

# wranglign ---------
import pandas as pd
from siuba import *

# plotting ----------
from plotnine import *

theme_set(theme_classic(base_family = "Noto Sans CJK JP"))

# data --------------
#fname = "/Users/machow/Dropbox/Repo/siublocks-org/intro-tidyverse/tutorial/data/music200.csv"
fname = "https://siublocks.s3.us-east-2.amazonaws.com/course-data/music200.csv"
music_top200 = pd.read_csv(fname)

# tracks
#fname = "/Users/machow/Dropbox/Repo/siublocks-org/intro-tidyverse/tutorial/data/track_features.csv"
fname = "https://siublocks.s3.us-east-2.amazonaws.com/course-data/track_features.csv"
track_features = pd.read_csv(fname)

# student support ----------
from siuba import pipe
from IPython.display import HTML, display
from siututor import Blank
___ = Blank()

# DataFrame display --------
pd.set_option("display.max_rows", 6)

from IPython import get_ipython
# special ipython function to get the html formatter
html_formatter = get_ipython().display_formatter.formatters['text/html']

# here, we avoid the default df._repr_html_ method, since it inlines css
# (style tags make vue angry)
html_formatter.for_type(
    pd.DataFrame,
    lambda df: df.to_html(max_rows = pd.get_option("display.max_rows"), show_dimensions = True)
)

# remove the <ggplot: (528...)> printout
html_formatter.for_type(ggplot, lambda g: "")

import slides from '../slides/01c-slides.markdown'

<RevealSlides :slides="slides" />

### Exercise 1:

Modify the code below to arrange by artist name in **descending** order.

<details><summary>hint</summary>

> You can sort something in descending order, using the `-` operator.

<details><summary>another hint</summary>

> Start by using the pipe operator with `arrange()`. You will need to specify what to arrange by.

</details>
</details>

In [2]:
(music_top200

)

,country,position,track_name,artist,streams,duration,continent
0,Argentina,1,Tusa,KAROL G,1858666,200.960,Americas
1,Argentina,2,Tattoo,Rauw Alejandro,1344382,202.887,Americas
2,Argentina,3,Hola - Remix,Dalex,1330011,249.520,Americas
...,...,...,...,...,...,...,...
12397,South Africa,198,Black And White,Niall Horan,11771,193.090,Africa
12398,South Africa,199,When I See U,Fantasia,11752,217.347,Africa
12399,South Africa,200,Psycho!,MASN,11743,197.217,Africa

In [3]:
(music_top200
  >> arrange(-_.artist)
)

,country,position,track_name,artist,streams,duration,continent
11783,"Taiwan, Province of China",184,一天 (電視劇《想見你》插曲),黃宣,41615,248.630,Asia
4797,Hong Kong,198,Without You,高爾宣 OSN,19956,175.500,Asia
10745,Singapore,146,Without You,高爾宣 OSN,57383,175.500,Asia
...,...,...,...,...,...,...,...
9737,Philippines,138,This I Promise You,*NSYNC,196170,283.507,Asia
11394,Thailand,195,LION,(G)I-DLE,44329,210.973,Asia
7153,Latvia,154,GOSHA,$NOT,5849,120.000,Europe

<prompt-expandable header="What artist is the last observation (row) in the result?">

<q-multiple-choice>
  <q-opt text="$NOT"><span>Great job!</span></q-opt>
  <q-opt text="黃宣"><span>That's not right. Did you arrange in ascending, rather than descending order?</span></q-opt>
  <q-opt text="Aaron Smith"><span>Incorrect</span></q-opt>
  <q-opt text="Y2K"><span>Incorrect</span></q-opt>    
</q-multiple-choice>

</prompt-expandable>

### Exercise 2:

What is the first track, if you filter to keep only observations from the country Mexico, and then sort in **ascending order** by track name?

In [4]:
(music_top200
  >> ___
  >> arrange(___)
)

⚠️: <b>Don't forget to replace all the blanks!</b>

In [5]:
(music_top200
  >> filter(_.country == "Mexico")
  >> arrange(_.track_name)
)

,country,position,track_name,artist,streams,duration,continent
8263,Mexico,64,11 PM,Maluma,1160043,175.733,Americas
8233,Mexico,34,25/8,Bad Bunny,1781488,243.276,Americas
8356,Mexico,157,7 rings,Ariana Grande,660372,178.640,Americas
...,...,...,...,...,...,...,...
8291,Mexico,92,bad guy,Billie Eilish,958347,194.088,Americas
8329,Mexico,130,death bed (coffee for your head) (feat. beabadoobee),Powfu,765591,173.333,Americas
8337,Mexico,138,everything i wanted,Billie Eilish,721895,245.426,Americas

<prompt-expandable header="">

<q-multiple-choice>
  <q-opt text="11 PM"><span>Great job!</span></q-opt>
  <q-opt text="一天 (電視劇《想見你》插曲)"><span>Incorrect</span></q-opt>
  <q-opt text="everything i wanted"><span>Incorrect</span></q-opt>
  <q-opt text="#24"><span>Be sure to filter where country is Mexico</span></q-opt>    
</q-multiple-choice>

</prompt-expandable>

### Exercise 3: 

Below is code with the arrange verb removed. Modify it to arrange in ascending order..

* first by position
* second by streams

In [6]:
(music_top200
  >> ___
)

⚠️: <b>Don't forget to replace all the blanks!</b>

In [7]:
(music_top200
  >> arrange(_.position, _.streams)
)

,country,position,track_name,artist,streams,duration,continent
8000,Cyprus,1,The Box,Roddy Ricch,13604,196.653,Asia
7200,Malta,1,Blinding Lights,The Weeknd,21416,201.573,Europe
6800,Luxembourg,1,Blinding Lights,The Weeknd,22509,201.573,Europe
...,...,...,...,...,...,...,...
1399,Brazil,200,Procuro Alguém (prod. Coyote Beatz),Djonga,542021,213.983,Americas
8399,Mexico,200,Verte Ir,DJ Luian,558925,267.500,Americas
7999,United States,200,Enemies (feat. DaBaby),Post Malone,1597824,196.760,Americas


<prompt-expandable header="What country has the position 1 track (The Box) with fewest streams?">

<q-multiple-choice>
  <q-opt text="Cyprus"><span>That's right! Make sure to double check that the track is named The Box by Roddy Ricch.</span></q-opt>
  <q-opt text="United States"><span>Incorrect</span></q-opt>
  <q-opt text="Brazil"><span>Incorrect</span></q-opt>
    <q-opt text="Luxembou"><span>Incorrect</span></q-opt>
</q-multiple-choice>

</prompt-expandable>

### Exercise 4

What's the shortest song in the top position in the `music_top200` data?

In [8]:
# add code below this line

In [9]:
# NOTE: there are multiple ways to get the answer!
(music_top200
  >> arrange(_.position, _.duration)
)

,country,position,track_name,artist,streams,duration,continent
2600,Germany,1,"Bad Girls, Good Vibes",Ufo361,4081472,107.446,Europe
4400,Greece,1,Drip,Snik,367041,147.429,Europe
2000,Colombia,1,Rojo,J Balvin,997830,150.720,Americas
...,...,...,...,...,...,...,...
11999,Uruguay,200,Creo,Callejeros,11300,289.760,Americas
3999,Finland,200,Without Me,Eminem,40460,290.320,Europe
4399,United Kingdom,200,Africa,TOTO,334637,295.893,Europe


<prompt-expandable header="">

<q-multiple-choice>
  <q-opt text="Bad Girls, Good Vibes"><span>That's right!</span></q-opt>
  <q-opt text="Klop Klop"><span>Incorrect. This is the shortest track in any position. Can you sort to get top position tracks first?</span></q-opt>
  <q-opt text="Susamam"><span>Incorrect. This is the longest track in any position. Can you sort to get top position tracks first?</span></q-opt>
    <q-opt text="Blockparty"><span>Incorrect. This is the shortest track in the last position.</span></q-opt>
</q-multiple-choice>

</prompt-expandable>